{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='forum_style.css') }}">
{% endblock %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="submission-and-forum">
        <h1>Welcome {{ username }} to our cocky little forum</h1>
        <div class="forum">
            <form class="submission-form" method="post" id="submit">
                <textarea maxlength="256" class="textarea" type="text" id="forum_comment" name="forum_comment"></textarea>
                <input class="button" type="submit" name="button" value="submit">
            </form>
            <div class="comment-cotainer">
                {% for comment in comments %}
                    <div class="comment-and-picture">
                        <img class="cock-img" src="{{url_for('static', filename='wecluck.png')}}" alt="we live for this shit">
                        <div class="comment">
                            <p class="comment-title">{{comment.user}}</p>
                            <p class="comment-content">{{comment.content}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>       
{% endblock %}
